.comments {
  max-height: 440px;
  transition: all 0.3s;

  @include atMedium {
    max-height: 470px;
  }

  &--hide {
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
  }

  &__comment {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    padding: 30px 15px 25px 20px;
    border-bottom: 1px solid $mainWhiteDarker;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
  }

  &__desc {
    display: flex;
    justify-content: space-between;
  }

  &__author {
    color: $mainBlue;
  }

  &__day {
    color: $mainGrey;
  }

  &__content {
    margin-bottom: 0;
    line-height: 21px;
  }
}