.profile-card {
  position: relative;
  padding: 0 20px 17px 20px;
  border-radius: $mainBorderRadius;
  background-color: $mainWhite;
  box-shadow: $mainBorderShadow;

  @include atMedium {
    padding: 20px 20px 28px 20px;
  }

  &__share-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $mainOrange;
    cursor: pointer;
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include atMedium {
      flex-direction: row;
    }
  }

  &__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: -50px;

    @include atMedium {
      margin-top: 0;
    }
  }

  &__info {
    text-align: center;

    @include atMedium {
      margin-left: 18px;
      text-align: left;
    }
  }

  &__fullname {
    margin: 15px -10px 0 0;

    color: $mainBlue;
    font-size: 18px;
  }

  &__like-icon {
    margin-left: 10px;
    font-size: 12px !important;
    color: $mainGreyLighter;
    cursor: pointer;
  }

  &__like-icon--active {
    animation: likeEffect 1s 1;
    color: #FF4136;
  }

  @keyframes likeEffect {
    50% {
      transform: scale( 2 );
    }
  }

  &__address {
    font-size: 12px;
    color: $mainBlueLighter;
  }

  &__summary {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    @include atMedium {
      flex-direction: row;
    }
  }

  &__widgets {
    @include atMedium {
      width: 60%;
    }
  }

  &__follow-btn {
    margin-top: 20px;

    @include atMedium {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}