.profile-container {
  width: 320px;
  border-radius: $mainBorderRadius;
  padding: 36px 17px 0 17px;
  background: linear-gradient($mainBlue 95px, $mainWhite 95px);
  box-shadow: $mainBorderShadow;
  border-bottom: 1px solid white;

  @include atMedium {
    width: 500px;
  }
}