.scrollbar {
  &__track-vertical {
    border-radius: 100px;
    background-color: rgba(216, 216, 216, 0.3);
  }

  &__thumb-vertical {
    border-radius: 100px;
    background-color: rgba(0, 44, 113, 0.12);
  }
}