.widgets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__widget {
    min-width: 55px;
    text-align: center;
  }

  &__separator {
    background: rgba(151, 151, 151, 0.1);
    width: 1px;
  }

  &__counter {
    margin-bottom: 0;
    font-size: 24px;
    color: $mainOrange;
  }

  &__title {
    margin-bottom: 0;
    font-size: 10px;
    color: $mainGrey;
  }
}