$mainBorderRadius: 5px;
$mainBorderShadow: 0 0 4px 0 rgba(172,172,172,0.50);

$mainOrange: #FFA640;

$mainBlue: #002C71;
$mainBlueLighter: #8298B9;

$mainGrey: #979797;
$mainGreyLighter: #D9D9D9;

$mainWhite: #FFF;
$mainWhiteDarker: #EBEBEB;
